<h2>Oi Gente, aqui é o <%= name%></h2>
<%= link_to  "text", liker_path, method: :post %>
<%= form_with url: post_destiny_path, class: 'my-form', remote: true do |f|%>
<%= f.select :genero, [["Masculino", 0],["Femino",1]]%>
<%= f.check_box :blue_eye %>
<%= f.text_area :dissertacao%>
<%= f.password_field :password%>
<%= f.email_field :email%>
<%= f.text_field :name%>
<%= f.submit "Clique aqui"%>
<% end %>